*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0.5rem;
    text-align: center;
    
}
h2{background: grey; color: black;
    border-radius: 2rem 2rem 0 0;
}
nav{
margin: 0 auto 1rem;
    border: 2px solid;
    line-height: 7rem;
    border-radius: 2rem;
    font-size: 2rem;
    max-width: 800px;
}
ul{
list-style-type: none;
}
li {
    border-top: 1px solid black;
    background: Darkkhaki;
    color: black;
}
li a{
    display: block;
}
li a, li a:visited{text-decoration: none;
color: black;}

.neil{
    border-radius: 0 0 2rem 2rem;
}
